/*
 * Margins
 */
/* -- margin bottom -- */
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb40 {
    margin-bottom: 40px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.mb60 {
    margin-bottom: 60px !important;
}
.mb70 {
    margin-bottom: 70px !important;
}
.mb80 {
    margin-bottom: 80px !important;
}
.mb90 {
    margin-bottom: 90px !important;
}
.mb100 {
    margin-bottom: 100px !important;
}
/* -- margin top -- */
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mt60 {
    margin-top: 60px !important;
}
.mt70 {
    margin-top: 70px !important;
}
.mt80 {
    margin-top: 80px !important;
}
.mt90 {
    margin-top: 90px !important;
}
.mt100 {
    margin-top: 100px !important;
}
/* Main CSS */
.content-image {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p.section-listview {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.tab-content {
    padding: 0px 0;
}
.content-size-bloc {
    overflow-y: scroll;
    height: 630px;
    min-height: 630px;
}
.content-element-section {
    background-color: #f8f8f8;
    min-height: 630px;
}
.content-element-signin {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-top: 50px;
}
.content-element-login {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    margin-top: 50px;
}
.content-element-signin select {
    padding-left: 10px;
    background-color: inherit;
}
.content-element-signin .select:before {
    background-color: inherit!important;
}
.send-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ui-widget-header {
    background: inherit;
}
.modal {
    display: none;
    width: 300px;
    height: 100px;
}
